<!-- Favicon (uniwersalne) -->
<link rel="icon" type="image/x-icon" href="/src/assets/images/icons/favicon.ico">

<!-- Dodatkowe wersje PNG (dla urządzeń Retina) -->
<link rel="icon" type="image/png" sizes="32x32" href="/src/assets/images/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/src/assets/images/icons/favicon-16x16.png">

<!-- iPhone / iPad -->
<link rel="apple-touch-icon" href="/src/assets/images/icons/favicon-180x180.png">

<!-- meta og: -->
<meta property="og:site_name" content="Towarzystwo Przyjaciół Zwierząt">
<meta property="og:type" content="website">
