<!-- PIERWSZA linia w <head> -->
<base href="/" />

<link rel="icon" href="/favicon.ico" type="image/x-icon">

<!-- CSS zawsze od korzenia domeny -->
<link rel="stylesheet" href="/src/assets/css/reset.css">
<link rel="stylesheet" href="/src/assets/css/base/variables.css">
<link rel="stylesheet" href="/src/assets/css/base/helpers.css">
<link rel="stylesheet" href="/src/assets/css/layout/main.css">
<link rel="stylesheet" href="/src/assets/css/layout/header.css">
<link rel="stylesheet" href="/src/assets/css/layout/footer.css">
<link rel="stylesheet" href="/src/assets/css/components/nav.css">
<link rel="stylesheet" href="/src/assets/css/components/cards.css">
<link rel="stylesheet" href="/src/assets/css/sections.css">
<link rel="stylesheet" href="/src/assets/css/animations.css">

<!-- JS zawsze od korzenia domeny -->
<script src="/src/js/main.js" defer></script>
